<% content_for :top_content do %>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome <%= @user.name %>!</h1>
  </div>
</div>

    <div class="col-md-8">
      <div class="media">
        <% avatar_url = @user.avatar_url(64) %>
        <% if avatar_url %>
          <div class="media-left">
            <%= image_tag avatar_url, class: 'media-object' %>
          </div>
          <% end %>
        <div class="media-body">
          <h2 class="media-heading"><%= @user.name %></h2>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">To-Do Items</h2>
    </div>
  </div>
