<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="media">
    <div class="media-body">
      <div class="checkbox">
        <label><input type="checkbox" value=""><%= item.name %></label>
        <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      </div>
    </div>
  </div>
<% end %>
