<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Blocitoff!</h1>
      <p>Here is your to-do list!</p>
    </div>
    <!--<h2>
      <%= #@items.each do |item| %>
        <% #item %>
      <% #end %>
       <small>
        submitted <%= #time_ago_in_words(@item.created_at) %> ago by <%= #@item.user.name %>
      </small>
    </h2>-->
  </div>
<% end %>
